<!DOCTYPE html>
<html>
<head>
    <title>Agregar Proveedor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body class="container mt-5">
    <h1 class="mb-4">Agregar Nuevo Proveedor</h1>
    <form method="POST" id="formulario">
        <div class="mb-3">
            <label class="form-label">Cédula/RNC:</label>
            <input type="text" id="cedula" name="cedula_rnc" class="form-control" required 
                   pattern="\d{3}-?\d{7}-?\d{1}" 
                   title="Ingrese una cédula válida en formato 000-0000000-0 o 00000000000" maxlength="11">
            <div id="mensaje-error" class="text-danger mt-2" style="display: none;">⚠ Cédula no válida</div>
        </div>
        <div class="mb-3">
            <label class="form-label">Nombre Comercial:</label>
            <input type="text" name="nombre_comercial" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{{ url_for('listar_proveedores') }}" class="btn btn-secondary">Cancelar</a>
    </form>

    
</body>
<script>                      
    function valida(cedula){
                  cedula = document.getElementById('cedula').value;
                  c = cedula.split('');
                  v = [1,2,1,2,1,2,1,2,1,2]
                var result = 0 ; 
                var ar ;
                var up;
                var oc ;
                for (i=0;i <10;i++){  
                up =c[i] * v[i];
                ab = up;
                if ( ab >= 10 ) {
                  oc = ab.toString()
                          .split('')
                          .map(x => parseInt(x) )
                          .reduce( (x, y) => x + y);
                }else {
                  oc = ab;
                }
                result = parseFloat(result) + parseFloat(oc);   
                }
                  dp = result;
                  ac = dp.toString().split('')[0] + '0';
                  ac = parseInt(ac);
                  uj = (ac / 10) * 10;
                    if (uj < dp ) {
                    dp = (uj + 10) - dp; 
                    } else { 
                      dp = uj - dp
                    }
  
                if (c[10] == dp) {             
                  
                  document.getElementById('result').innerHTML = '<p> Cedula Correcta </p>';
                } else {
                  
                  document.getElementById('result').innerHTML = '<p> Cedula Incorrecta </p>';
                  
                }
          }                    
   </script>
</html>
